@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  z-index: 100;
  background-color: #162b4b;
  width: 450px;
  min-width: 450px;
  height: 600px;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(60, 53, 99, 0.486);
}

.header h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-align: center;
  margin:20px 10px;
 font-size: 40px;
  font-family: Roboto;
}
hr{
  width: 70%;
 
  border: 0.5px dashed #40435c ;
  margin:  10px auto;
  
}
.main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.task-input {
  width: 370px;
  min-width: 250px;
  padding: 15px 10px 15px 20px;
  margin: 20px auto;
  font-family: "Roboto";
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: #193053;
  border: 1px solid rgb(197, 208, 247);
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buttons {
  
  display: flex;
}

.btn {
  margin: 10px;
  
}

.add-task-btn {
  min-width: 100px;
  background-color: #242c69;
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 40px;
  
  outline: none;
  cursor: pointer;
}
.list {
  width: 400px;
  margin: auto;
  max-height: 200px;
  overflow-y: auto;
  background-color: #193053;
  border-radius: 10px;
  border: 1px solid #23416e;
}
ul li {
padding: 10px 10px;


}
.list-item {
  display: flex;
  justify-content: space-between;
 

  
}

.list-item span {

  color: rgb(255, 255, 255);
 
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

}

.btn-delete i {
  font-size: 16px;
  color: rgb(219, 110, 115);
  margin-right: 20px;
}

.btn-edit i {
  font-size: 16px;
  color: rgb(91, 133, 250);
  margin-right: 20px;
}

.clear-btn {
  min-width: 100px;
  background-color: #242c69;
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 40px;
  
  outline: none;
  cursor: pointer;
}

.no-tasks {
  color: rgb(148, 129, 255);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
